.cajaAccesos
  @include configCaja(516px,440px)
  margin-top: 60px
  object-fit: contain
  overflow: scroll

#tabla2
  @include configCaja(100%,440px)
  border: none
  object-fit: contain
  border-spacing: 0
  padding: 10px 30px 0px 30px
  tr
    height: 61px

th.stick2
  height: 72px
  background-color: #ffffff
  text-align: left
  @include stick
  top: 0
  font-size: 20px
  color: $colorNegroDes

.thG
  width: 00px

.cajaBotones
  width: 516px
  height: auto
  margin-top: 84px
  margin-bottom: 50px

#agregar
  @include btnGris(0,60px,0,0,#EFF0F4,inline)

#guardar
  @include btnAzul(0,0,0,0,#EFF0F4,inline)

.ac
  border: solid #00a4e2
  border-width: 0 2px 2px 0
  display: inline-block
  padding: 2px
  margin: 2px

.txtCenter
  text-align: center

.editar
  width: 58px
  height: 32px
  border-radius: 4px
  background-color: #e8f6fb
  color: #26b1e6
  border: none
  margin-right: 4px
  margin-top: 10px

.arw
  width: 36px
  height: 32px
  border-radius: 4px
  background-color: #e8f6fb
  border: none

.arwOnC
  background-color: #22b0e5

.acOnC
  border: solid #fbfbfd
  border-width: 0 2px 2px 0
  display: inline-block
  padding: 2px
  margin: 2px

.tdElim
  position: relative

.elimAD
  display: none
  position: absolute
  width: 95px
  height: 38px
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)
  background-color: #ffffff
  color: #1aa5df
  font-size: 12px
  padding: 10px
  margin-top: 2px
  z-index: +1
  cursor: pointer

.info
  float: right
  margin: 60px
  position: relative

.pInfo
  text-decoration: underline #1aa5df
  color: #1aa5df
  font-size: 12px
  display: inline-block

.cajaInfo
  @include configCaja(130px,auto)
  font-size: 12px
  padding: 10px
  border-radius: 4px
  position: relative
  position: absolute
  right: 1px
  margin-top: 10px
  &:after, &:before
    bottom: 100%
    left: 50%
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none
  &:after
    border-color: rgba(136, 183, 213, 0)
    border-bottom-color: #ffffff
    border-width: 5px
    margin-left: -5px
  &:before
    border-color: rgba(194, 225, 245, 0)
    border-bottom-color: #c2e1f5
    border-width: 5px
    margin-left: -5px

.imgInfo
  display: inline-block

#tabla2 
  tr:nth-child(odd)
    background: #fbfbfd

/*Estilos Modal*/

#modal1
 @include modal(5%,5%)

.dialog
  margin-left: auto
  margin-right: auto
  margin-bottom: 37px
  width: 560px
  height: 51px
  border: solid 1px #979797
  font-size: 12px
  color: white
  text-align: center
  padding: 17px

.form
  @include configCaja(579px,892px)
  margin-top: 37px
  object-fit: contain
  margin: auto
  color: $colorNegroDes

.tituloForm
  font-size: 20px
  margin-bottom: 40px
  margin-top: 40px

.cInput
  width: 451px
  height: auto
  margin: auto

.txtInput
  font-size: 14px
  margin-bottom: 11px

.inp
  width: 449px
  height: 60px
  border-radius: 4px
  border: solid 1px #cccccc
  font-size: 16px
  margin-bottom: 24px
  padding: 20px

/* Upload button */

.upload
  display: none

.uploader
  position: relative
  display: flex
  width: 449px
  height: 60px
  border-radius: 4px
  border: solid 1px #cccccc
  font-size: 16px
  margin-bottom: 24px
  padding: 16px
  .input-value
    padding: 4px
    font-family: sans-serif
    font-size: 16px
    opacity: .7
  label
    cursor: pointer
    margin: 0
    top: 0
    position: absolute
    right: 0
    background: #acaeae
    height: 59px
    padding: 20px
    color: #ffffff
    width: 119px
    text-align: center

/* Upload button */

/* button swith */

.material-toggle
  display: block
  height: 22px
  width: 40px
  input:empty
    margin-left: -9999px
    ~ label
      position: relative
      float: left
      width: 150px
      cursor: pointer
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none
      &:before, &:after
        position: absolute
        display: block
        content: ' '
        -webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1)
        transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1)
      &:before
        top: 3px
        left: 0px
        width: 57px
        height: 19px
        border-radius: 12px
        background-color: #bdbdbd

input.switch:empty ~ label:after
  top: -3px
  left: -9px
  width: 1.4em
  height: 8px
  bottom: 0.1em
  margin-left: 0.1em
  background-color: #fff
  border-radius: 50%
  width: 27px
  height: 27px
  border-radius: 50%
  border: solid 2px
  border-color: #fff
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12)

.material-toggle input:checked ~ label
  &:before
    background-color: #dbf1ff
  &:after
    left: 40px
    background-color: #1aa5df
    border-color: #1aa5df

  
/* button swith */

.date1
  margin-right: 25px
  display: inline-block
  height: auto
  margin-bottom: 24px

.date
  display: inline-block
  height: auto
  margin-bottom: 24px

input[type="datetime-local"]
  border-radius: 4px
  border: solid 1px #cccccc
  font-size: 16px
  height: 60px
  width: 211px
  padding: 20px

#subir,#subir2
  @include btnAzul(60px,auto,auto,auto,#ffffff,block)

.txtCenter
    text-align: center  

.cajaCerrar
  margin-left: auto
  margin-right: auto
  width: 700px
  height: 51px

.btnCerrar
  width: 45px
  height: 45px
  border: 1px solid white
  border-radius: 100px
  float: right  
  color: #fff
  font-size: 22px
  text-align: center
  padding-top: 7px
  opacity: .7
  cursor: pointer
  &:hover
    opacity: 1
/*Estilos Modal*/

#modal2
  @include modal(10%,10%)

.form2
  @include configCaja(579px,auto)
  margin-top: 37px
  object-fit: contain
  margin: auto
  color: $colorNegroDes
  padding: 40px

.imgPregunta
  width: 40px
  height: 40px
  margin: auto
  border-radius: 100px
  border: 2px solid #ff8c8c

.tituloEliminar
  text-align: center
  font-size: 20px
  color: $colorNegroDes
  margin-bottom: 50px
  margin-top: 50px

#eliminar
  @include btnGris(0,0,0,0,#ffff,inline)

#cancelar
  @include btnGris(0,0,0,0,#ffff,inline)
  border: none

.alertas, .alertas2
  position: absolute
  z-index: +5
  display: none

.alert
  width: 753px
  height: 69px
  border-radius: 4px
  background-color: #cbfbc9
  padding: 25px
  margin: 8px
  z-index: +1
  font-size: 16px
  p
    display: inline-block

.error 
    p
      display: inline-block

.closeBtn, .closeBtn1
  color: black
  float: right
  font-size: 42px
  line-height: 15px
  cursor: pointer
  transition: 0.3s

.error
  width: 753px
  height: 69px
  border-radius: 4px
  background-color: #fff7de
  padding: 25px
  margin: 8px
  z-index: +1
  font-size: 16px    

#modal3
  @include modal(10%,10%)