.contenedorTabla4
  @include configCaja(64%,420px)
  overflow: scroll

.ml
    padding-left: 30px

.control__indicator2
  position: absolute
  top: 2px
  left: 20px
  border-radius: 100px
  height: 25px
  width: 25px
  background: #e6e6e6

.control--radio .control__indicator2
  border-radius: 50%

.control
  &:hover input ~ .control__indicator2
    background: #ccc
  input
    &:focus ~ .control__indicator2
      background: #ccc
    &:checked ~ .control__indicator2
      background: #22b0e5
  &:hover input:not([disabled]):checked ~ .control__indicator2
    background: #0e647d
  input
    &:checked:focus ~ .control__indicator2
      background: #0e647d
    &:disabled ~ .control__indicator2
      background: #e6e6e6
      opacity: 0.6
      pointer-events: none

.control__indicator2:after
  content: ''
  position: absolute
  display: none

.control input:checked ~ .control__indicator2:after
  display: block

.control--checkbox
  .control__indicator2:after
    left: 10px
    top: 6px
    width: 3px
    height: 8px
    border: solid $blanco
    border-width: 0 3px 3px 0 
    transform: rotate(45deg)
  input:disabled ~ .control__indicator2:after
    border-color: #7b7b7b

.control--radio .control__indicator2:after
  left: 7px
  top: 7px
  height: 6px
  width: 6px
  border-radius: 50%
  background: $blanco

.areaBoton2
  width: 64%
  height: 100px
  margin-top: 95px  

#cambiar
  @include btnAzul(0,auto,0,auto,#EFF0F4,block)