@import url('https://fonts.googleapis.com/css?family=Lato&display=swap')
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Lato', sans-serif

html,body,#app
    height: 100%
    margin: 0
    padding: 0

a
  text-decoration: none
  &:visited
    text-decoration: none
    color: black
  &:active
    color: black

/*contenedor*/
#contenedor
    margin: 0
    width: 80%
    height: calc(100% - 160px)
    background: #EFF0F4 
    float: right
    transition: ease all .5s
    overflow: scroll

#subContenedor
    width: auto
    height: auto
    margin-left: 200px
    
.cajatxt
    width: 400px
    height: auto
    text-align: left
    padding-top: 6%
    display: inline-block
    margin-bottom: 18%

.titulo
    font-size: 1em
    margin-bottom: 21px


.subtitulo
    text-align: left
    font-size: .9em

.selecciona
    font-size: .9em



.personaliza
    @include configCaja(77%,250px)
    float: left
    padding: 10px
    margin-top: 15px
    margin-bottom: 20px


.celular
    float: left
    width: 50%

.titulop
    text-align: center
    font-size: 1.2em
    padding: 20px

.lista
    float: right
    width: 50%
    height: auto
    padding-top: 50px 
    .txtlista
        width: 100%
        font-size: .8em
        margin-bottom: 10px
    select 
        width: 85%
        margin-bottom: 40px
        height: 40px
        border: 1px solid #999999
        color: #999999
    button
        display: block
        margin-left: 20%
        width: 45%
        height: 40px
        color: #F03E41
        border: 1px solid #F03E41
        background: white
        cursor: pointer

.imgCelular
    display: block
    width: 141px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    margin: auto
    
/*combobox*/     
.select-box 
    position: relative
    display: block
    width: 90%
    font-size: 15px
    color: #60666d
    margin-bottom: 30px

.select-box2 
    position: relative
    display: block
    width: 100%
    font-size: 16px
    color: #60666d
    margin-bottom: 30px    

.select-box__current   
    position: relative
    cursor: pointer
    outline: none

.select-box__current:focus + .select-box__list 
    opacity: 1
    animation-name: none

.select-box__current:focus + .select-box__list .select-box__option 
    cursor: pointer

.select-box__current:focus .select-box__icon 
     transform: translateY(-50%) rotate(180deg)

.select-box__icon
		  position: absolute
		  top: 45%
		  right: 25px
		  transform: translateY(-50%)
		  width: 10px
		  opacity: 0.3
		  transition: 0.2s ease
.select-box__value
    display: flex
   
.select-box__input 
    display: none  

.select-box__input:checked + .select-box__input-text 
    display: block

.select-box__input:checked + .select-box__input-text2 
    display: block   


.select-box__input-text 
    @include input(13px,#999999)
    display: none

#select-box__input-text1 
    @include input(13px,#cccccc)
    
.select-box__input-text2 
    @include input(20px,#999999)
    display: none

#select-box__input-text2     
    @include input(20px,#cccccc)
    

#select-box__input-text2-2     
    @include input(20px,#cccccc)      
.PH
    opacity: .5

.select-box__list 
    margin-top: 10px    
    position: absolute
    width: 100%
    padding: 0
    list-style: none
    opacity: 0
    animation-name: HideList
    animation-duration: 0.5s
    animation-delay: 0.5s
    animation-fill-mode: forwards
    animation-timing-function: step-start
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1)
    z-index: +3

.select-box__option 
    display: block
    padding: 15px 15px 15px 33px
    background-color: $blanco

.select-box__option:hover, .select-box__option:focus 
    color: #546c84
    background-color: #eeeeee


@keyframes HideList 
    from 
        transform: scaleY(1)
    to 
        transform: scaleY(0)   

i
    border: solid black
    border-width: 0 3px 3px 0
    display: inline-block
    padding: 3px
	
.down
	transform: rotate(45deg)
	-webkit-transform: rotate(45deg)    
/*contenedor*/    

