#subContenedorLista
  width: auto
  height: auto
  margin-left: 100px

.contenedorTabla
  @include configCaja(85%,422px)
  overflow: scroll

#tabla1
  @include configCaja(100%,200px)
  border: none
  object-fit: contain
  border-spacing: 0
  overflow: scroll

th.stick
  height: 72px
  background: #e8eced
  text-align: left
  @include stick
  top: 0

tbody
  border-collapse: separate
  border-spacing: 5px 10px

#tabla1 
  tr
    &:nth-child(odd)
      background: $colorMenu

.imgTabla
  width: 89px
  height: 52px

td, th
  padding: 10px

td
  text-align: left
  padding: 5px 15px

.estatus
  width: 10px
  height: 10px
  border-radius: 100px
  display: inline-block
  margin-right: 7px

.estatus1
  background-color: #01cf12

.estatus2
  background-color: #eb5945

.estatus3
  background-color: #4595eb

.areaBoton
  width: 85%
  height: 200px
  margin-top: 145px
  display: flex
  justify-content: flex-end


#btnEditar
  @include btnGris(0,55px,0,0,#EFF0F4,inline)

#enviarApp  
  @include btnAzul(0,55px,0,0,#EFF0F4,inline)

.cajaBanner
    width: 40%
    height: 200px
    border: solid 1px $blanco
    background-color: #e8e8e8
    margin-bottom: 15px
    position: relative

.imgCover
    width: 100%
    height: 200px    

#imagenBanner
    display: none
    
#menuBanners
    display: none
    position: fixed
    width: 400px
    height: calc(100% - 160px)
    right: -400px    
    background: $blanco
    overflow: scroll

.cajaMenuB
    padding-top: 25px
    padding-bottom: 25px
    border-bottom: solid 1px #eff0f4        

.actualizar    
    width: 100%
    height: 60px
    color: $colorNegroDes
    background: $colorMenu
    @include flexAling

.colorAz
    color: #1aa5df    
    
.mb
    margin-bottom: 10px
.cajaMBmanita
    margin-left: 40px    
.inl-blk
    display: inline-block

.mr
    margin-right: 30px

.cajaMBinfo
    margin-left: 60px    

.btnAgregar
  @include btnAzul(50px,auto,50px,auto,$blanco,block)

.GEApp
  width: 100%
  height: 67px
  opacity: 0.67
  border: solid 1px #1aa5df
  background-color: #1aa5df
  color: white
  font-size: 16px
  cursor: pointer

#modal4 
  @include modal(10%,10%) 

#modal5 
  @include modal(10%,10%)
  
#subeIMG 
    cursor: pointer  
.w-60
    width: 200px
.Projo 
    width: 6px
    height: 6px
    background: #f03e41
    display: inline-block  
    border-radius: 100px  
    margin-bottom: 2px

.btnAzul-c
    @include btnAzul(60px,auto,auto,auto,$blanco,block)

#subContenedor2
    width: auto
    height: auto
    margin-left: 200px  
    display: none    