
.cajaModulo
    @include configCaja(80%,264px)
    display: inline-block
    padding: 10px
    margin-top: 15px
    margin-bottom: 40px

.imgModulo
    width: 40%
    float: left
    padding: 10px


.infoModulo
    width: 60%
    float: right
    padding: 30px
    font-size: 16px
    

.tituloModulo
    font-size: 18px
    color: #0f0f0f
    padding-bottom: 35px


.subtituloModulo
    padding-bottom: 10px
    opacity: .5



ul.ulModulo li
    margin-left: 40px
    padding-bottom: 10px
    color: #b2b4b7

.comenzar
    position: absolute
    right: 0
    bottom: 0
    &:hover
    color: red
    cursor: pointer
    transition: ease all .3s

.paddingtop
    padding-top: 50px

p.comenzarT
    display: inline-block
    margin-right: 15px

  

.cajaModulosNew
    @include configCaja(80%,500px)
    display: inline-block
    margin-top: 15px
    margin-bottom: 40px
    @include flexRW

.menuModulos
    width: 20%
    height: 100%
    background: $colorMenu

.moduloContent
    @include moduloContent

.moduloContent2
    display: none
    @include moduloContent
.moduloContent3
    display: none
    @include moduloContent
.moduloContent4
    display: none
    @include moduloContent  
.moduloContent5
    display: none
    @include moduloContent              


.itemsModulos
    height: 100px
    width: 100%
    background: $colorMenu 
    padding: 20px
    text-align: center
    cursor: pointer
    @include flexAling
    transition: .5s ease all
    &:hover
        background: #e8eced

#ITMcontent1
    background: white          

.imgModuloRes
    @include imgModulos(90%,100%)
    
/* Contenedor 1*/
.imgModuloRes1
    @include imgModulos(40%,100%)
    

.txtContent
    width: 60%
    height: 100%
    display: block
    padding: 40px
    
/* Contenedor 1*/

/* Contenedor 2*/
.imgContent2
    width: 45%
    height: 100%
    background: #f8f8f8
    border-radius: 5px
    @include flexRW 

.imgModuloRes2
    width: 100%
    height: 60%
    display: block
    margin-top: 10px
    
.textImagen
    width: 100%
    height: 40%
    color: black
    text-align: center
    padding-left: 10px
    padding-right: 10px 
    display: block

/* Contenedor 5*/        

.imgModuloRes5
    @include imgModulos(40%,100%)
    margin: 0
 

.imgContent
    width: 90%
    height: 40%
    border: 20px solid $blanco
    margin: auto
    @include flexRW     



.descripContent
    width: 100%
    height: 60%           
      
.textoContent 
    width: 90%
    height: 100%
    border: 20px solid $blanco
    display: block
    margin: auto 
    position: relative   

p.tituloContent
    font-size: 18px
    font-weight: bold  
    margin-bottom: 10px 

p.SubtituloContent
    margin-bottom: 10px  
    color: #b2b4b7  

.ITMcontent
    background: $blanco    