.contenedorTabla3
  @include configCaja(64%,534px)
  overflow: scroll

#tabla3
  border-radius: 6px
  background-color: $blanco
  object-fit: contain
  border-spacing: 0
  width: 100%
  overflow: scroll
  tr:nth-child(even)
    background: #fbfbfd

#guardar2
  @include btnAzul(0,0,0,0,#EFF0F4,inline)

#tabla3 tr
  height: 61px

th.stick3
  height: 72px
  background-color: $blanco
  text-align: left
  @include stick
  top: 0
  font-size: 20px
  color: $colorNegroDes
  border-bottom: solid 1px #f2f3f7

#btnElimin
  @include btnAzul(0,60px,0,20px,#EFF0F4,inline)
  border: none

.cInputpt
  @include configCaja(518px,170px)
  object-fit: contain
  border-radius: 4px
  padding: 30px
  margin-bottom: 40px
  p
    font-size: 14px
    color: $colorNegroDes
    padding-bottom: 13px

.input-group-addon
  padding: 6px 12px
  font-size: 14px
  font-weight: 400
  line-height: 1
  color: #00a4e2
  text-align: center
  background-color: $blanco
  border: 1px solid #00a4e2
  width: 2%
  white-space: nowrap
  vertical-align: middle
  display: table-cell

.sufix
  position: relative
  z-index: 2
  float: left
  width: 100%
  margin-bottom: 0
  display: table-cell
  padding: 6px 12px
  border: 1px solid #ccc
  border-right: 1px solid #00a4e2
  margin: 0
  height: 60px

.suffix
  input
    border-radius: 4px 0px 0px 4px
  .input-group-addon
    border-left: 0
    border-radius: 0px 4px 4px 0px

.input-group-addon.suffix
  border-radius: 0px 4px 4px 0px
  border-left: 0

.input-group
  position: relative
  display: table
  border-collapse: separate

.control
  display: block
  position: relative
  margin-bottom: 20px
  margin-left: 10px
  cursor: pointer
  font-size: 18px

.control-ml
  margin-left: 15px

.control input
  position: absolute
  z-index: -1
  opacity: 0

.control__indicator
  position: absolute
  top: 2px
  left: 0
  border-radius: 4px
  height: 20px
  width: 20px
  background: white
  border: 1px solid #ccc

.control--radio .control__indicator
  border-radius: 50%

.control
  &:hover input ~ .control__indicator
    background: #ccc
  input
    &:focus ~ .control__indicator
      background: #ccc
    &:checked ~ .control__indicator
      background: #22b0e5
      border: none
  &:hover input:not([disabled]):checked ~ .control__indicator
    background: #0e647d
  input
    &:checked:focus ~ .control__indicator
      background: #0e647d
    &:disabled ~ .control__indicator
      background: #e6e6e6
      opacity: 0.6
      pointer-events: none

.control__indicator:after
  content: ''
  position: absolute
  display: none

.control input:checked ~ .control__indicator:after
  display: block

.control--checkbox
  .control__indicator:after
    left: 7px
    top: 4px
    width: 3px
    height: 8px
    border: solid $blanco
    border-width: 0 2px 2px 0
    transform: rotate(45deg)
  input:disabled ~ .control__indicator:after
    border-color: #7b7b7b

.control--radio .control__indicator:after
  left: 7px
  top: 7px
  height: 6px
  width: 6px
  border-radius: 50%
  background: $blanco


#modal6
  @include modal(10%,10%)