@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
header {
  width: 100%;
  height: 80px;
  background: #333333;
}

#menuAmb {
  padding: 5px;
  margin-top: 2%;
  margin-left: 17px;
  cursor: pointer;
  float: left;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

.cajat1 {
  display: inline-block;
  margin-top: 2.3%;
  font-size: 20px;
  color: white;
  margin-left: 10px;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

#t1 {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

#seller {
  display: inline-block;
}

#usuario {
  height: 30px;
  float: right;
  width: auto;
  margin-top: 2%;
  margin-right: 4%;
}

#usuario img, #usuario p {
  float: left;
}

.campana {
  margin-right: 10px;
}

.usrtxt {
  margin-right: 22px;
  color: white;
}

.arrow {
  margin-top: 5px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:active {
  color: black;
}

/*contenedor*/
#contenedor {
  margin: 0;
  width: 80%;
  height: calc(100% - 160px);
  background: #EFF0F4;
  float: right;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
  overflow: scroll;
}

#subContenedor {
  width: auto;
  height: auto;
  margin-left: 200px;
}

.cajatxt {
  width: 400px;
  height: auto;
  text-align: left;
  padding-top: 6%;
  display: inline-block;
  margin-bottom: 18%;
}

.titulo {
  font-size: 1em;
  margin-bottom: 21px;
}

.subtitulo {
  text-align: left;
  font-size: .9em;
}

.selecciona {
  font-size: .9em;
}

.personaliza {
  width: 77%;
  height: 250px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: #ffffff;
  border: solid 1px #eff0f4;
  float: left;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.celular {
  float: left;
  width: 50%;
}

.titulop {
  text-align: center;
  font-size: 1.2em;
  padding: 20px;
}

.lista {
  float: right;
  width: 50%;
  height: auto;
  padding-top: 50px;
}

.lista .txtlista {
  width: 100%;
  font-size: .8em;
  margin-bottom: 10px;
}

.lista select {
  width: 85%;
  margin-bottom: 40px;
  height: 40px;
  border: 1px solid #999999;
  color: #999999;
}

.lista button {
  display: block;
  margin-left: 20%;
  width: 45%;
  height: 40px;
  color: #F03E41;
  border: 1px solid #F03E41;
  background: white;
  cursor: pointer;
}

.imgCelular {
  display: block;
  width: 141px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

/*combobox*/
.select-box {
  position: relative;
  display: block;
  width: 90%;
  font-size: 15px;
  color: #60666d;
  margin-bottom: 30px;
}

.select-box2 {
  position: relative;
  display: block;
  width: 100%;
  font-size: 16px;
  color: #60666d;
  margin-bottom: 30px;
}

.select-box__current {
  position: relative;
  cursor: pointer;
  outline: none;
}

.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}

.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}

.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
  position: absolute;
  top: 45%;
  right: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  opacity: 0.3;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.select-box__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-box__input {
  display: none;
}

.select-box__input:checked + .select-box__input-text {
  display: block;
}

.select-box__input:checked + .select-box__input-text2 {
  display: block;
}

.select-box__input-text {
  border-radius: 4px;
  border: 1px solid #999999;
  width: 100%;
  margin: 0;
  padding: 13px;
  background-color: #ffffff;
  display: none;
}

#select-box__input-text1 {
  border-radius: 4px;
  border: 1px solid #cccccc;
  width: 100%;
  margin: 0;
  padding: 13px;
  background-color: #ffffff;
}

.select-box__input-text2 {
  border-radius: 4px;
  border: 1px solid #999999;
  width: 100%;
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
  display: none;
}

#select-box__input-text2 {
  border-radius: 4px;
  border: 1px solid #cccccc;
  width: 100%;
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
}

#select-box__input-text2-2 {
  border-radius: 4px;
  border: 1px solid #cccccc;
  width: 100%;
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
}

.PH {
  opacity: .5;
}

.select-box__list {
  margin-top: 10px;
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
          animation-name: HideList;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  z-index: +3;
}

.select-box__option {
  display: block;
  padding: 15px 15px 15px 33px;
  background-color: #ffffff;
}

.select-box__option:hover, .select-box__option:focus {
  color: #546c84;
  background-color: #eeeeee;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*contenedor*/
footer {
  width: 100%;
  height: 80px;
  background: #1a1a1a;
  display: block;
  display: inline-block;
}

.atras {
  margin-top: 1.5%;
  margin-left: 4%;
}

.nav p {
  float: right;
  color: white;
  margin-right: 4%;
  margin-top: 2%;
}

#contenedorMenu {
  margin: 0;
  width: 20%;
  height: calc(100% - 160px);
  background: #F4F7F9;
  float: left;
  overflow: scroll;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
  border-right: 1px solid #F4F7F9;
}

span {
  cursor: pointer;
  height: 59px;
  padding: 20px;
  display: block;
  width: 100%;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

span .txt {
  font-size: 12px;
  float: left;
  padding-top: 5px;
}

span:hover {
  background: #E8ECED;
}

span.gris {
  background: #E8ECED;
}

.imagen {
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 4px;
  margin-right: 15px;
  margin-left: 5px;
  float: left;
}

.imagenroja {
  width: 15px;
  height: 15px;
  background-image: url(../img/index/ios-arrow-dropleft-circle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 4px;
  margin-right: 8px;
  float: left;
}

.subMenu {
  /* display: none*/
}

ul.subMenu li {
  cursor: pointer;
  height: 59px;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 45px;
  background: #FBFBFD;
  font-size: 12px;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
}

ul.subMenu li.roja {
  background: #FCF4F4;
  padding-left: 55px;
  color: #F33C3B;
}

ul.subMenu li:hover {
  background: #FCF4F4;
  padding-left: 55px;
  color: #F33C3B;
}

.show {
  background: #E8ECED;
}

.cajaModulo {
  width: 80%;
  height: 264px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: #ffffff;
  border: solid 1px #eff0f4;
  display: inline-block;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.imgModulo {
  width: 40%;
  float: left;
  padding: 10px;
}

.infoModulo {
  width: 60%;
  float: right;
  padding: 30px;
  font-size: 16px;
}

.tituloModulo {
  font-size: 18px;
  color: #0f0f0f;
  padding-bottom: 35px;
}

.subtituloModulo {
  padding-bottom: 10px;
  opacity: .5;
}

ul.ulModulo li {
  margin-left: 40px;
  padding-bottom: 10px;
  color: #b2b4b7;
}

.comenzar {
  position: absolute;
  right: 0;
  bottom: 0;
  color: red;
  cursor: pointer;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
}

.paddingtop {
  padding-top: 50px;
}

p.comenzarT {
  display: inline-block;
  margin-right: 15px;
}

.cajaModulosNew {
  width: 80%;
  height: 500px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: #ffffff;
  border: solid 1px #eff0f4;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menuModulos {
  width: 20%;
  height: 100%;
  background: #F4F7F9;
}

.moduloContent {
  width: 80%;
  height: 100%;
  padding: 20px;
}

.moduloContent2 {
  display: none;
  width: 80%;
  height: 100%;
  padding: 20px;
}

.moduloContent3 {
  display: none;
  width: 80%;
  height: 100%;
  padding: 20px;
}

.moduloContent4 {
  display: none;
  width: 80%;
  height: 100%;
  padding: 20px;
}

.moduloContent5 {
  display: none;
  width: 80%;
  height: 100%;
  padding: 20px;
}

.itemsModulos {
  height: 100px;
  width: 100%;
  background: #F4F7F9;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.itemsModulos:hover {
  background: #e8eced;
}

#ITMcontent1 {
  background: white;
}

.imgModuloRes {
  width: 90%;
  height: 100%;
  display: block;
  margin: auto;
  border: 15px solid #f8f8f8;
}

/* Contenedor 1*/
.imgModuloRes1 {
  width: 40%;
  height: 100%;
  display: block;
  margin: auto;
  border: 15px solid #f8f8f8;
}

.txtContent {
  width: 60%;
  height: 100%;
  display: block;
  padding: 40px;
}

/* Contenedor 1*/
/* Contenedor 2*/
.imgContent2 {
  width: 45%;
  height: 100%;
  background: #f8f8f8;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imgModuloRes2 {
  width: 100%;
  height: 60%;
  display: block;
  margin-top: 10px;
}

.textImagen {
  width: 100%;
  height: 40%;
  color: black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

/* Contenedor 5*/
.imgModuloRes5 {
  width: 40%;
  height: 100%;
  display: block;
  margin: auto;
  border: 15px solid #f8f8f8;
  margin: 0;
}

.imgContent {
  width: 90%;
  height: 40%;
  border: 20px solid #ffffff;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.descripContent {
  width: 100%;
  height: 60%;
}

.textoContent {
  width: 90%;
  height: 100%;
  border: 20px solid #ffffff;
  display: block;
  margin: auto;
  position: relative;
}

p.tituloContent {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

p.SubtituloContent {
  margin-bottom: 10px;
  color: #b2b4b7;
}

.ITMcontent {
  background: #ffffff;
}

#subContenedorLista {
  width: auto;
  height: auto;
  margin-left: 100px;
}

.contenedorTabla {
  width: 85%;
  height: 422px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: #ffffff;
  border: solid 1px #eff0f4;
  overflow: scroll;
}

#tabla1 {
  width: 100%;
  height: 200px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: #ffffff;
  border: solid 1px #eff0f4;
  border: none;
  -o-object-fit: contain;
     object-fit: contain;
  border-spacing: 0;
  overflow: scroll;
}

th.stick {
  height: 72px;
  background: #e8eced;
  text-align: left;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

tbody {
  border-collapse: separate;
  border-spacing: 5px 10px;
}

#tabla1 tr:nth-child(odd) {
  background: #F4F7F9;
}

.imgTabla {
  width: 89px;
  height: 52px;
}

td, th {
  padding: 10px;
}

td {
  text-align: left;
  padding: 5px 15px;
}

.estatus {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  display: inline-block;
  margin-right: 7px;
}

.estatus1 {
  background-color: #01cf12;
}

.estatus2 {
  background-color: #eb5945;
}

.estatus3 {
  background-color: #4595eb;
}

.areaBoton {
  width: 85%;
  height: 200px;
  margin-top: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#btnEditar {
  display: inline;
  margin: 0 55px 0 0;
  width: 204px;
  height: 60px;
  border-radius: 4px;
  border: solid 1px #acaeae;
  font-size: 16px;
  color: #acaeae;
  background: #EFF0F4;
  cursor: pointer;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

#btnEditar:hover {
  background: #acaeae;
  color: #ffffff;
}

#enviarApp {
  display: inline;
  margin: 0 55px 0 0;
  width: 204px;
  height: 60px;
  border-radius: 4px;
  border: solid 1px #00a4e2;
  font-size: 16px;
  color: #22b0e5;
  background: #EFF0F4;
  cursor: pointer;
}

.cajaBanner {
  width: 40%;
  height: 200px;
  border: solid 1px #ffffff;
  background-color: #e8e8e8;
  margin-bottom: 15px;
  position: relative;
}

.imgCover {
  width: 100%;
  height: 200px;
}

#imagenBanner {
  display: none;
}

#menuBanners {
  display: none;
  position: fixed;
  width: 400px;
  height: calc(100% - 160px);
  right: -400px;
  background: #ffffff;
  overflow: scroll;
}

.cajaMenuB {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: solid 1px #eff0f4;
}

.actualizar {
  width: 100%;
  height: 60px;
  color: #333333;
  background: #F4F7F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colorAz {
  color: #1aa5df;
}

.mb {
  margin-bottom: 10px;
}

.cajaMBmanita {
  margin-left: 40px;
}

.inl-blk {
  display: inline-block;
}

.mr {
  margin-right: 30px;
}

.cajaMBinfo {
  margin-left: 60px;
}

.btnAgregar {
  display: block;
  margin: 50px auto 50px auto;
  width: 204px;
  height: 60px;
  border-radius: 4px;
  border: solid 1px #00a4e2;
  font-size: 16px;
  color: #22b0e5;
  background: #ffffff;
  cursor: pointer;
}

.GEApp {
  width: 100%;
  height: 67px;
  opacity: 0.67;
  border: solid 1px #1aa5df;
  background-color: #1aa5df;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#modal4 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  padding-bottom: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

#modal5 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  padding-bottom: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

#subeIMG {
  cursor: pointer;
}

.w-60 {
  width: 200px;
}

.Projo {
  width: 6px;
  height: 6px;
  background: #f03e41;
  display: inline-block;
  border-radius: 100px;
  margin-bottom: 2px;
}

.btnAzul-c {
  display: block;
  margin: 60px auto auto auto;
  width: 204px;
  height: 60px;
  border-radius: 4px;
  border: solid 1px #00a4e2;
  font-size: 16px;
  color: #22b0e5;
  background: #ffffff;
  cursor: pointer;
}

#subContenedor2 {
  width: auto;
  height: auto;
  margin-left: 200px;
  display: none;
}

.cajaAccesos {
  width: 516px;
  height: 440px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: #ffffff;
  border: solid 1px #eff0f4;
  margin-top: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: scroll;
}

#tabla2 {
  width: 100%;
  height: 440px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: #ffffff;
  border: solid 1px #eff0f4;
  border: none;
  -o-object-fit: contain;
     object-fit: contain;
  border-spacing: 0;
  padding: 10px 30px 0px 30px;
}

#tabla2 tr {
  height: 61px;
}

th.stick2 {
  height: 72px;
  background-color: #ffffff;
  text-align: left;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 20px;
  color: #333333;
}

.thG {
  width: 00px;
}

.cajaBotones {
  width: 516px;
  height: auto;
  margin-top: 84px;
  margin-bottom: 50px;
}

#agregar {
  display: inline;
  margin: 0 60px 0 0;
  width: 204px;
  height: 60px;
  border-radius: 4px;
  border: solid 1px #acaeae;
  font-size: 16px;
  color: #acaeae;
  background: #EFF0F4;
  cursor: pointer;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

#agregar:hover {
  background: #acaeae;
  color: #ffffff;
}

#guardar {
  display: inline;
  margin: 0 0 0 0;
  width: 204px;
  height: 60px;
  border-radius: 4px;
  border: solid 1px #00a4e2;
  font-size: 16px;
  color: #22b0e5;
  background: #EFF0F4;
  cursor: pointer;
}

.ac {
  border: solid #00a4e2;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin: 2px;
}

.txtCenter {
  text-align: center;
}

.editar {
  width: 58px;
  height: 32px;
  border-radius: 4px;
  background-color: #e8f6fb;
  color: #26b1e6;
  border: none;
  margin-right: 4px;
  margin-top: 10px;
}

.arw {
  width: 36px;
  height: 32px;
  border-radius: 4px;
  background-color: #e8f6fb;
  border: none;
}

.arwOnC {
  background-color: #22b0e5;
}

.acOnC {
  border: solid #fbfbfd;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin: 2px;
}

.tdElim {
  position: relative;
}

.elimAD {
  display: none;
  position: absolute;
  width: 95px;
  height: 38px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  color: #1aa5df;
  font-size: 12px;
  padding: 10px;
  margin-top: 2px;
  z-index: +1;
  cursor: pointer;
}

.info {
  float: right;
  margin: 60px;
  position: relative;
}

.pInfo {
  -webkit-text-decoration: underline #1aa5df;
          text-decoration: underline #1aa5df;
  color: #1aa5df;
  font-size: 12px;
  display: inline-block;
}

.cajaInfo {
  width: 130px;
  height: auto;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: #ffffff;
  border: solid 1px #eff0f4;
  font-size: 12px;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  position: absolute;
  right: 1px;
  margin-top: 10px;
}

.cajaInfo:after, .cajaInfo:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.cajaInfo:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ffffff;
  border-width: 5px;
  margin-left: -5px;
}

.cajaInfo:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #c2e1f5;
  border-width: 5px;
  margin-left: -5px;
}

.imgInfo {
  display: inline-block;
}

#tabla2 tr:nth-child(odd) {
  background: #fbfbfd;
}

/*Estilos Modal*/
#modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5%;
  padding-bottom: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.dialog {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 37px;
  width: 560px;
  height: 51px;
  border: solid 1px #979797;
  font-size: 12px;
  color: white;
  text-align: center;
  padding: 17px;
}

.form {
  width: 579px;
  height: 892px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: #ffffff;
  border: solid 1px #eff0f4;
  margin-top: 37px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
  color: #333333;
}

.tituloForm {
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.cInput {
  width: 451px;
  height: auto;
  margin: auto;
}

.txtInput {
  font-size: 14px;
  margin-bottom: 11px;
}

.inp {
  width: 449px;
  height: 60px;
  border-radius: 4px;
  border: solid 1px #cccccc;
  font-size: 16px;
  margin-bottom: 24px;
  padding: 20px;
}

/* Upload button */
.upload {
  display: none;
}

.uploader {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 449px;
  height: 60px;
  border-radius: 4px;
  border: solid 1px #cccccc;
  font-size: 16px;
  margin-bottom: 24px;
  padding: 16px;
}

.uploader .input-value {
  padding: 4px;
  font-family: sans-serif;
  font-size: 16px;
  opacity: .7;
}

.uploader label {
  cursor: pointer;
  margin: 0;
  top: 0;
  position: absolute;
  right: 0;
  background: #acaeae;
  height: 59px;
  padding: 20px;
  color: #ffffff;
  width: 119px;
  text-align: center;
}

/* Upload button */
/* button swith */
.material-toggle {
  display: block;
  height: 22px;
  width: 40px;
}

.material-toggle input:empty {
  margin-left: -9999px;
}

.material-toggle input:empty ~ label {
  position: relative;
  float: left;
  width: 150px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.material-toggle input:empty ~ label:before, .material-toggle input:empty ~ label:after {
  position: absolute;
  display: block;
  content: ' ';
  -webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.material-toggle input:empty ~ label:before {
  top: 3px;
  left: 0px;
  width: 57px;
  height: 19px;
  border-radius: 12px;
  background-color: #bdbdbd;
}

input.switch:empty ~ label:after {
  top: -3px;
  left: -9px;
  width: 1.4em;
  height: 8px;
  bottom: 0.1em;
  margin-left: 0.1em;
  background-color: #fff;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: solid 2px;
  border-color: #fff;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.material-toggle input:checked ~ label:before {
  background-color: #dbf1ff;
}

.material-toggle input:checked ~ label:after {
  left: 40px;
  background-color: #1aa5df;
  border-color: #1aa5df;
}

/* button swith */
.date1 {
  margin-right: 25px;
  display: inline-block;
  height: auto;
  margin-bottom: 24px;
}

.date {
  display: inline-block;
  height: auto;
  margin-bottom: 24px;
}

input[type="datetime-local"] {
  border-radius: 4px;
  border: solid 1px #cccccc;
  font-size: 16px;
  height: 60px;
  width: 211px;
  padding: 20px;
}

#subir, #subir2 {
  display: block;
  margin: 60px auto auto auto;
  width: 204px;
  height: 60px;
  border-radius: 4px;
  border: solid 1px #00a4e2;
  font-size: 16px;
  color: #22b0e5;
  background: #ffffff;
  cursor: pointer;
}

.txtCenter {
  text-align: center;
}

.cajaCerrar {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 51px;
}

.btnCerrar {
  width: 45px;
  height: 45px;
  border: 1px solid white;
  border-radius: 100px;
  float: right;
  color: #fff;
  font-size: 22px;
  text-align: center;
  padding-top: 7px;
  opacity: .7;
  cursor: pointer;
}

.btnCerrar:hover {
  opacity: 1;
}

/*Estilos Modal*/
#modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  padding-bottom: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.form2 {
  width: 579px;
  height: auto;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: #ffffff;
  border: solid 1px #eff0f4;
  margin-top: 37px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
  color: #333333;
  padding: 40px;
}

.imgPregunta {
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 100px;
  border: 2px solid #ff8c8c;
}

.tituloEliminar {
  text-align: center;
  font-size: 20px;
  color: #333333;
  margin-bottom: 50px;
  margin-top: 50px;
}

#eliminar {
  display: inline;
  margin: 0 0 0 0;
  width: 204px;
  height: 60px;
  border-radius: 4px;
  border: solid 1px #acaeae;
  font-size: 16px;
  color: #acaeae;
  background: #ffff;
  cursor: pointer;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

#eliminar:hover {
  background: #acaeae;
  color: #ffffff;
}

#cancelar {
  display: inline;
  margin: 0 0 0 0;
  width: 204px;
  height: 60px;
  border-radius: 4px;
  border: solid 1px #acaeae;
  font-size: 16px;
  color: #acaeae;
  background: #ffff;
  cursor: pointer;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  border: none;
}

#cancelar:hover {
  background: #acaeae;
  color: #ffffff;
}

.alertas, .alertas2 {
  position: absolute;
  z-index: +5;
  display: none;
}

.alert {
  width: 753px;
  height: 69px;
  border-radius: 4px;
  background-color: #cbfbc9;
  padding: 25px;
  margin: 8px;
  z-index: +1;
  font-size: 16px;
}

.alert p {
  display: inline-block;
}

.error p {
  display: inline-block;
}

.closeBtn, .closeBtn1 {
  color: black;
  float: right;
  font-size: 42px;
  line-height: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.error {
  width: 753px;
  height: 69px;
  border-radius: 4px;
  background-color: #fff7de;
  padding: 25px;
  margin: 8px;
  z-index: +1;
  font-size: 16px;
}

#modal3 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  padding-bottom: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.contenedorTabla3 {
  width: 64%;
  height: 534px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: #ffffff;
  border: solid 1px #eff0f4;
  overflow: scroll;
}

#tabla3 {
  border-radius: 6px;
  background-color: #ffffff;
  -o-object-fit: contain;
     object-fit: contain;
  border-spacing: 0;
  width: 100%;
  overflow: scroll;
}

#tabla3 tr:nth-child(even) {
  background: #fbfbfd;
}

#guardar2 {
  display: inline;
  margin: 0 0 0 0;
  width: 204px;
  height: 60px;
  border-radius: 4px;
  border: solid 1px #00a4e2;
  font-size: 16px;
  color: #22b0e5;
  background: #EFF0F4;
  cursor: pointer;
}

#tabla3 tr {
  height: 61px;
}

th.stick3 {
  height: 72px;
  background-color: #ffffff;
  text-align: left;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 20px;
  color: #333333;
  border-bottom: solid 1px #f2f3f7;
}

#btnElimin {
  display: inline;
  margin: 0 60px 0 20px;
  width: 204px;
  height: 60px;
  border-radius: 4px;
  border: solid 1px #00a4e2;
  font-size: 16px;
  color: #22b0e5;
  background: #EFF0F4;
  cursor: pointer;
  border: none;
}

.cInputpt {
  width: 518px;
  height: 170px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: #ffffff;
  border: solid 1px #eff0f4;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 4px;
  padding: 30px;
  margin-bottom: 40px;
}

.cInputpt p {
  font-size: 14px;
  color: #333333;
  padding-bottom: 13px;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #00a4e2;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #00a4e2;
  width: 2%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}

.sufix {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  display: table-cell;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-right: 1px solid #00a4e2;
  margin: 0;
  height: 60px;
}

.suffix input {
  border-radius: 4px 0px 0px 4px;
}

.suffix .input-group-addon {
  border-left: 0;
  border-radius: 0px 4px 4px 0px;
}

.input-group-addon.suffix {
  border-radius: 0px 4px 4px 0px;
  border-left: 0;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.control {
  display: block;
  position: relative;
  margin-bottom: 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
}

.control-ml {
  margin-left: 15px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  background: white;
  border: 1px solid #ccc;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input ~ .control__indicator {
  background: #ccc;
}

.control input:focus ~ .control__indicator {
  background: #ccc;
}

.control input:checked ~ .control__indicator {
  background: #22b0e5;
  border: none;
}

.control:hover input:not([disabled]):checked ~ .control__indicator {
  background: #0e647d;
}

.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control__indicator:after {
  display: block;
}

.control--checkbox .control__indicator:after {
  left: 7px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #ffffff;
}

#modal6 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  padding-bottom: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.contenedorTabla4 {
  width: 64%;
  height: 420px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: #ffffff;
  border: solid 1px #eff0f4;
  overflow: scroll;
}

.ml {
  padding-left: 30px;
}

.control__indicator2 {
  position: absolute;
  top: 2px;
  left: 20px;
  border-radius: 100px;
  height: 25px;
  width: 25px;
  background: #e6e6e6;
}

.control--radio .control__indicator2 {
  border-radius: 50%;
}

.control:hover input ~ .control__indicator2 {
  background: #ccc;
}

.control input:focus ~ .control__indicator2 {
  background: #ccc;
}

.control input:checked ~ .control__indicator2 {
  background: #22b0e5;
}

.control:hover input:not([disabled]):checked ~ .control__indicator2 {
  background: #0e647d;
}

.control input:checked:focus ~ .control__indicator2 {
  background: #0e647d;
}

.control input:disabled ~ .control__indicator2 {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control__indicator2:after {
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control__indicator2:after {
  display: block;
}

.control--checkbox .control__indicator2:after {
  left: 10px;
  top: 6px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator2:after {
  border-color: #7b7b7b;
}

.control--radio .control__indicator2:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #ffffff;
}

.areaBoton2 {
  width: 64%;
  height: 100px;
  margin-top: 95px;
}

#cambiar {
  display: block;
  margin: 0 auto 0 auto;
  width: 204px;
  height: 60px;
  border-radius: 4px;
  border: solid 1px #00a4e2;
  font-size: 16px;
  color: #22b0e5;
  background: #EFF0F4;
  cursor: pointer;
}

#modal7 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5%;
  padding-bottom: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
/*# sourceMappingURL=main.css.map */