footer
    width: 100%
    height: 80px
    background: $color_footer
    display: block
    display: inline-block

.atras
    margin-top: 1.5%
    margin-left: 4%

.nav 
    p
        float: right
        color: $color-letrasF
        margin-right: 4%
        margin-top: 2%
    