header
    width: 100%
    height: 80px
    background: $colorNegroDes

#menuAmb
    padding: 5px
    margin-top: 2%
    margin-left: 17px
    cursor: pointer
    float: left
    transition: ease all .5s
                

.cajat1
    display: inline-block
    margin-top: 2.3%
    font-size: 20px
    color: white
    margin-left: 10px
    transition: ease all .5s
                
#t1
    display: inline-block
    margin-right: 10px
    cursor: pointer
    transition: ease all .5s

    
#seller
    display: inline-block



#usuario
    height: 30px
    float: right
    width: auto
    margin-top: 2%
    margin-right: 4%

#usuario img,  #usuario p
    float: left

.campana
    margin-right: 10px


.usrtxt
    margin-right: 22px
    color: white

.arrow
    margin-top: 5px
