
#contenedorMenu
    margin: 0
    width: 20%
    height: calc(100% - 160px)
    background: $colorMenu
    float: left
    overflow: scroll
    transition: ease all .5s
    border-right: 1px solid $colorMenu

span
    cursor: pointer
    height: 59px
    padding: 20px
    display: block
    width: 100%
    transition: ease all .5s
    .txt
        font-size: 12px 
        float: left
        padding-top: 5px 

    &:hover
        background: $hover-Items

span.gris
    background: $active-Items 

.imagen
    width: 15px
    height: 15px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    margin-top: 4px
    margin-right: 15px
    margin-left: 5px
    float: left 

.imagenroja
    width: 15px
    height: 15px
    background-image: url(../img/index/ios-arrow-dropleft-circle.png)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    margin-top: 4px
    margin-right: 8px
    float: left

                   

.subMenu
    /* display: none*/
ul.subMenu
    li
        cursor: pointer
        height: 59px
        list-style: none
        padding-top: 20px
        padding-bottom: 20px
        padding-left: 45px 
        background: $color_subMenu
        font-size: 12px 
        transition: ease all 1s
        &.roja 
            background: #FCF4F4
            padding-left: 55px 
            color: #F33C3B 
                                                
        &:hover
            background: $hover-subMenu
            padding-left: 55px 
            color: #F33C3B        

.show
    background: #E8ECED
