header
    img(src="img/index/ios-menu-outline.svg" id="menuAmb")
    div(class="cajat1")
        p(id="t1") T1
        p(id="seller") Sellers
    div(id="usuario")
        img(src="./img/index/ios-notifications-outline.svg" class="campana")
        p(class="usrtxt") Angel
        img(src="./img/index/arrow1.svg" class="arrow")
