div(id="contenedorMenu")
                span
                    img( src="./img/index/ios-home-outline.svg" class="imagen") 
                    p(class="txt") HOME
                span(id="canalesVenta" onclick="menu()" class="gris")
                    img( src="./img/index/ico-cart.svg" id="imagen" class="imagen") 
                    p(class="txt") CANALES DE VENTA

                ul(class="subMenu"  id="aparecerMenu") 
                    li  TIENDA
                    li  WEB
                    li(class="roja")  APP
                span
                    img( src="./img/index/ios-pricetag-outline.svg" class="imagen") 
                    p(class="txt") PRODUCTOS
                span 
                    img( src="./img/index/ios-megaphone-outline.svg" class="imagen") 
                    p(class="txt") ADD'S
                span 
                    img( src="./img/index/ios-card-outline.svg" class="imagen") 
                    p(class="txt") TRANSACCIONES
                span 
                    img( src="./img/index/ios-archive-outline.svg" class="imagen") 
                    p(class="txt") PEDIDOS
                span 
                    img( src="./img/index/ios-paper-plane-outline.svg" class="imagen") 
                    p(class="txt") ENVIOS 
                span 
                    img( src="./img/index/ios-stats-outline.svg"  class="imagen") 
                    p(class="txt") REPRTERÍA     
                span 
                    img( src="./img/index/ios-medical-outline.svg" class="imagen") 
                    p(class="txt") POLÍTICAS  