mixin switch(...ids)
   .card.inl-blk
          .material-toggle
             each i in ids
                   input.switch(id=i, name=i, type='checkbox', checked='true')
                   label(for=i)

mixin CheckBox1(options)
  .select-box
    .select-box__current(tabindex="1")
      each option, index in options
        .select-box__value
          input.select-box__input(id=option.value type="radio" value=option.value name="Ben" checked="checked")
          p.select-box__input-text #{option.name}
      .select-box__value
        input.select-box__input( type='radio', id='', value='', name='Ben', checked='checked')
        p#select-box__input-text1.PH Seleciona una opcion 
      p.select-box__icon
        i.down
    ul.select-box__list.lista1
      each option, index in options
        li
          label.select-box__option(for=option.value aria-hidden) #{option.name}

mixin CheckBox2(options)
  .select-box2
    .select-box__current(tabindex="1")
      each option, index in options
        .select-box__value
          input.select-box__input(id=option.value type="radio" value=option.value name="Ben" checked="checked")
          p.select-box__input-text2 #{option.name}
      .select-box__value
        input.select-box__input( type='radio', id='', value='', name='Ben', checked='checked')
        p#select-box__input-text2 Seleciona una opcion 
      p.select-box__icon
        i.down
    ul.select-box__list.lista1
      each option, index in options
        li
          label.select-box__option(for=option.value aria-hidden) #{option.name}

mixin CheckBox2-2(options)
  .select-box2
    .select-box__current(tabindex="1")
      each option, index in options
        .select-box__value
          input.select-box__input(id=option.value type="radio" value=option.value name="Ben" checked="checked")
          p.select-box__input-text2 #{option.name}
      .select-box__value
        input.select-box__input( type='radio', id='', value='', name='Ben', checked='checked')
        p#select-box__input-text2-2 Seleciona una opcion 
      p.select-box__icon
        i.down
    ul.select-box__list.lista2
      each option, index in options
        li
          label.select-box__option(for=option.value aria-hidden) #{option.name}          
        
