<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css"/>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/core.js"></script>
  </head>
  <body>
    <div id="app">
      <header><img src="img/index/ios-menu-outline.svg" id="menuAmb"/>
        <div class="cajat1">
          <p id="t1">T1</p>
          <p id="seller">Sellers</p>
        </div>
        <div id="usuario"><img src="./img/index/ios-notifications-outline.svg" class="campana"/>
          <p class="usrtxt">Angel</p><img src="./img/index/arrow1.svg" class="arrow"/>
        </div>
      </header>
      <div id="contenedorMenu"><span><img src="./img/index/ios-home-outline.svg" class="imagen"/>
          <p class="txt">HOME</p></span><span id="canalesVenta" onclick="menu()" class="gris"><img src="./img/index/ico-cart.svg" id="imagen" class="imagen"/>
          <p class="txt">CANALES DE VENTA</p></span>
        <ul id="aparecerMenu" class="subMenu"> 
          <li> TIENDA</li>
          <li> WEB</li>
          <li class="roja"> APP</li>
        </ul><span><img src="./img/index/ios-pricetag-outline.svg" class="imagen"/>
          <p class="txt">PRODUCTOS</p></span><span> <img src="./img/index/ios-megaphone-outline.svg" class="imagen"/>
          <p class="txt">ADD'S</p></span><span> <img src="./img/index/ios-card-outline.svg" class="imagen"/>
          <p class="txt">TRANSACCIONES</p></span><span> <img src="./img/index/ios-archive-outline.svg" class="imagen"/>
          <p class="txt">PEDIDOS</p></span><span> <img src="./img/index/ios-paper-plane-outline.svg" class="imagen"/>
          <p class="txt">ENVIOS </p></span><span> <img src="./img/index/ios-stats-outline.svg" class="imagen"/>
          <p class="txt">REPRTERÍA     </p></span><span> <img src="./img/index/ios-medical-outline.svg" class="imagen"/>
          <p class="txt">POLÍTICAS  </p></span>
      </div>
      <div id="contenedor">
        <div class="alertas">
          <div class="error">
            <p>Solo hay espacio para 40 productos</p>
            <div class="closeBtn">&times;</div>
          </div>
          <div class="error">
            <p>Solo habrán 10 productos visibles</p>
            <div class="closeBtn">&times; </div>
          </div>
          <div class="alert">
            <p>Ocurrió un error. No se han podido actualizar los banners. Vuelve a intentarlo!</p>
            <div class="closeBtn1">&times;   </div>
          </div>
        </div>
        <div id="subContenedor">
          <div class="cajatxt">
            <p class="titulo">PRODUCTOS TOP</p>
            <p class="subtitulo">LISTA DE PRODUCTOS TOP</p>
          </div><!--Componente -->
          <infoleer></infoleer>
          <p class="titulo">Agregar los productos top</p><br/>
          <div class="cInputpt">
            <p>Ingresa el sku</p>
            <div class="row">
              <div class="input-group suffix">
                <input type="text" name="input" placeholder="398742384" class="sufix"/><span id="agregarPT" class="input-group-addon">Agregar</span>
              </div>
            </div>
          </div>
          <div class="contenedorTabla3">
            <table id="tabla3">
              <thead class="stick">
                <tr>
                  <th class="stick3">
                    <label class="control control--checkbox control-ml">
                      <input type="checkbox" id="checkTodos"/>
                      <div class="control__indicator"></div>
                    </label>
                  </th>
                  <th v-for="titulo of titulosPT" class="stick3">{{titulo}}</th>
                </tr>
              </thead>
              <tbody id="cuerpoT">
                <tr v-for="pt of ProductosTop">
                  <td>
                    <label class="control control--checkbox">
                      <input type="checkbox"/>
                      <div class="control__indicator"></div>
                    </label>
                  </td>
                  <td>{{pt.producto}}</td>
                  <td>{{pt.sku}}</td>
                  <td>{{pt.stock}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="cajaBotones">
            <button id="btnElimin">Eliminar</button>
            <button id="guardar2">Guardar y enviar a APP</button>
          </div>
        </div>
      </div>
      <footer>
        <div class="nav"><img src="img/index/ios-arrow-dropleft-circle.svg" class="atras"/>
          <p>sss</p>
        </div>
      </footer>
      <div id="modal6">
        <div class="cajaCerrar">
          <div class="btnCerrar">&times;</div>
        </div>
        <div class="form2">
          <div class="cInput">
            <div class="imgPregunta"></div>
            <p class="tituloEliminar">¿Seguro que quieres eliminar este acceso directo?</p>
            <button id="cancelar">Cancelar</button>
            <button id="eliminar">Si deseo eliminarlo</button>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>