<!DOCTYPE html>
html(lang="en")
    include ./includes/head.jade
    body
        div(id="app")
            include ./includes/mixins.jade

            include ./includes/header.jade

            include ./includes/menu.jade 

            #contenedor
                .alertas
                    .alert
                        p API Trabajando!, Se actualizará en la aplicacion cuando vuelvan a abrirla
                        .closeBtn1 &times;
                    .error
                        p Ocurrió un error. No se han podido actualizar los banners. Vuelve a intentarlo!
                        .closeBtn &times;
                #subContenedor
                    .cajatxt
                        p.titulo ACCESOS DIRECTOS
                        p.subtitulo LISTA DE ACCESOS DIRECTOS
                    <!--Componente -->
                    infoleer
                    p.titulo Lista de accesos directos
                    .cajaAccesos
                        table#tabla2
                            thead.stick2
                                tr
                                    th.stick2(v-for="titulos of titulosAD") {{titulos}}
                                    th.stick2.thG
                            tbody#cuerpoT
                                tr(v-for="ac of AcceosDirectos")
                                    td.txtCenter {{ac.posicion}}
                                    td {{ac.descripcion}} 
                                    td(v-if="ac.posicion===1")
                                        button.editar#EditarTC Editar
                                    td.tdElim(v-else-if="ac.posicion===2") 
                                        button.editar.md1 Editar
                                        button#arw1.arw
                                            p
                                                i#ac.down.ac
                                        .elimAD#elim Eliminar
                                    td(v-else)    
                                        button.editar.md1 Editar
                                        button.arw
                                            p
                                                i.down.ac                
                                    
                    .cajaBotones
                        center
                            button#agregar Agregar
                            
                            button#guardar Guardar y enviar a APP
                               
                     
            include ./includes/footer.jade

            include ./includes/modales/accesoDiercto.jade
            include ./includes/modales/accesoDirectoEliminar.jade
            include ./includes/modales/accesoDirectoSubir.jade
                       

        script(src="./js/vue.min.js")
        script(src="./js/app.js")


        