<!DOCTYPE html>
html(lang="en")
    include ./includes/head.jade
    body
        div(id="app")
            include ./includes/mixins.jade
            include ./includes/header.jade

            include ./includes/menu.jade 

            #contenedor
                .alertas
                    .alert
                        p API Trabajando!, Se actualizará en la aplicacion cuando vuelvan a abrirla
                        .closeBtn1 &times;
                    .error
                        p Puedes agregar máximo 4 tiendas
                        .closeBtn &times; 
                    .error
                        p Ocurrió un error. No se han podido actualizar los banners. Vuelve a intentarlo!
                        .closeBtn &times; 
                .alertas2
                    .error
                        p Ocurrió un error. No se han podido actualizar los banners. Vuelve a intentarlo!
                        .closeBtn &times; 
                    .error
                        p Puedes agregar máximo 6 banners!
                        .closeBtn &times; 
                #subContenedorLista
                    .cajatxt
                        p.titulo BANNERS DE TIENDAS / MARCAS 
                        p.subtitulo LISTA DE BANNERS /
                            br
                            | MARCAS
                            
                    <!--Componente -->
                    infoleer
                    
                    p.titulo Banners en Tiendas / Marcas
                    br
                    <!--Componente -->        
                    tablabaners  
                    .areaBoton
                        
                        button#btnEditar Editar
                        button#enviarApp Enviar a App             
                #subContenedor2
                    div(class="cajatxt")
                        p.titulo BANNERS DE TIENDAS / MARCAS 
                        p.subtitulo LISTA DE BANNERS /
                            br
                            | MARCAS
                    div(class="cajaPersonaliza")
                        p(class="selecciona") Banners en Tiendas / Marcas
                    br 
                    br    
                    .cajaBanner
                        #imagenBanner
                            img(src="img/index/celular-img.svg" class="imgCover")
                    .cajaBanner
                    .cajaBanner    

            <!--Componente --> 
            menuconfigbanners
            
            include ./includes/modales/bannersTiendasMarcas.jade
  
            include ./includes/footer.jade


        script(src="./js/vue.min.js")
        script(src="./js/app.js")


        