<!DOCTYPE html>
html(lang="en")
    include ./includes/head.jade
    body
        div(id="app")
            include ./includes/header.jade

            include ./includes/menu.jade 

            #contenedor
                .alertas
                    .alert
                        p API Trabajando!, Se actualizará en la aplicacion cuando vuelvan a abrirla
                        .closeBtn1 &times;
                    .error
                        p Ocurrió un error. No se han podido actualizar los banners. Vuelve a intentarlo!
                        .closeBtn &times; 
                #subContenedor
                    .cajatxt
                        p.titulo EMARSYS
                        p.subtitulo LISTA DE MARKETING
                    <!--Componente -->
                    infoleer
                    p.titulo Lógicas de emarsys para home
                    br
                    .contenedorTabla4
                        table#tabla3
                            thead.stick
                                tr
                                    th.stick3.ml Status
                                    th.stick3 Lógica
                                    th.stick3 
                                    
                            tbody#cuerpoT
                                        
                                tr(v-for="log of Emarsys")
                                    td
                                        label.control.control--checkbox
                                            input(type='checkbox', checked)
                                            .control__indicator2
                                        
                                    td
                                        | {{log.logica}}
                                    td
                                
                    .areaBoton2
                        button#cambiar Cambiar

            include ./includes/footer.jade
            
        script(src="./js/vue.min.js")
        script(src="./js/app.js")


        