<!DOCTYPE html>
html(lang="en")
    include ./includes/head.jade
    body
        div(id="app")
            include ./includes/mixins.jade
            include ./includes/header.jade

            include ./includes/menu.jade 

            #contenedor 
                #subContenedor
                    .cajatxt
                        p.titulo ADMINISTRACIÓN DE LA APP 
                        p.subtitulo Personaliza tu marca mediante las páginas administrables y productos de la aplicación móvil 
                    .cajaPersonaliza
                        p.selecciona Selecciona la página que deseas administrar
                        .personaliza
                            .celular
                                p.titulop Personalizar app
                                img(src="img/index/celular-img.svg" class="imgCelular")
                            .lista
                                p.txtlista Lista de páginas de app
                                +CheckBox1([
                                    {name: 'Home', value: '20'}, 
                                    {name: 'Categorías', value: '21'}, 
                                    {name: 'Landing', value: '22'}
                                    ])  

                                a(href="modulosHome.html")
                                    button#btnRespons Comenzar        
                     
            include ./includes/footer.jade

            script(src="./js/vue.min.js")
            script(src="./js/app.js")



        