<!DOCTYPE html>
html(lang="en")
    include ./includes/head.jade
    body
        div(id="app")
            include ./includes/mixins.jade

            include ./includes/header.jade

            include ./includes/menu.jade 

            #contenedor
                .alertas
                    .alert
                        p API Trabajando!, Se actualizará en la aplicacion cuando vuelvan a abrirla
                        .closeBtn1 &times;
                .alertas2
                    .error
                        p Ocurrió un error. No se han podido actualizar los banners. Vuelve a intentarlo!
                        .closeBtn &times; 
                    .error
                        p Puedes agregar máximo 6 banners!
                        .closeBtn &times; 
                #subContenedorLista
                    .cajatxt
                        p.titulo ADMINISTRACIÓN DE LA APP
                        p.subtitulo LISTA DE MÓDULOS A EDITABLES EN HOME
                    p.titulo Lista de banners en home
                    br
                    <!--Componente -->        
                    tablabaners                 
                    .areaBoton
                        
                        button#btnEditar Editar
                        button#enviarApp Enviar a App             
                #subContenedor2
                    div(class="cajatxt")
                        p(class="titulo") ADMINISTRACIÓN DE LA APP
                        p(class="subtitulo") LISTA DE MÓDULOS A 
                            br 
                            | EDITABLES EN HOME
                    div(class="cajaPersonaliza")
                        p(class="selecciona") Banners en Home
                    br 
                    br    
                    .cajaBanner
                        #imagenBanner
                            img(src="img/index/celular-img.svg" class="imgCover")
                    .cajaBanner
                    .cajaBanner    
            <!--Componente --> 
            menuconfigbanners        
         
            
            include ./includes/modales/actulizarImagenes.jade
            include ./includes/modales/actualizarImagenes2.jade

             
            include ./includes/footer.jade

        script(src="./js/vue.min.js")
        script(src="./js/app.js")


        