<!DOCTYPE html>
html(lang="en")
    include ./includes/head.jade
    body
        div(id="app")
            include ./includes/header.jade

            include ./includes/menu.jade 

            div(id="contenedor") 
                div(id="subContenedor")
                    div(class="cajatxt")
                        p(class="titulo") ADMINISTRACIÓN DE HOME LA APP
                        p(class="subtitulo") Lista de modulos administrables en home
                    p(class="titulo")
                        | Selecciona el modulo de home de la app que deseas 
                        br
                        | actualizar. Solo puedes editar uno a la vez.
                    br 
                    
                    <!--Componente --> 
                    tabs


                                       

            include ./includes/footer.jade

        script(src="./js/vue.min.js")
        script(src="./js/app.js")


        