<!DOCTYPE html>
html(lang="en")
    include ./includes/head.jade
    body
        div(id="app")
            include ./includes/header.jade

            include ./includes/menu.jade 

            #contenedor
                .alertas
                    .error
                        p Solo hay espacio para 40 productos
                        .closeBtn &times;
                    .error
                        p Solo habrán 10 productos visibles
                        .closeBtn &times; 
                    .alert
                        p Ocurrió un error. No se han podido actualizar los banners. Vuelve a intentarlo!
                        .closeBtn1 &times;   
                #subContenedor
                    .cajatxt
                        p.titulo PRODUCTOS TOP
                        p.subtitulo LISTA DE PRODUCTOS TOP
                    <!--Componente -->
                    infoleer
                    p.titulo Agregar los productos top
                    br
                    .cInputpt
                        p Ingresa el sku
                        .row
                            .input-group.suffix
                                input.sufix(type='text', name='input', placeholder="398742384")
                                span.input-group-addon#agregarPT Agregar
                    .contenedorTabla3
                        table#tabla3
                            thead.stick
                                tr
                                    th.stick3
                                        label.control.control--checkbox.control-ml
                                            input(type='checkbox', id="checkTodos")
                                            .control__indicator
                                    th.stick3(v-for="titulo of titulosPT") {{titulo}}
                            tbody#cuerpoT
                                tr(v-for="pt of ProductosTop")
                                    td
                                        label.control.control--checkbox
                                            input(type='checkbox')
                                            .control__indicator
                                    td
                                        | {{pt.producto}}
                                    td {{pt.sku}}
                                    td {{pt.stock}}
                                
                    .cajaBotones
                        
                        button#btnElimin Eliminar
                        
                        button#guardar2 Guardar y enviar a APP

            include ./includes/footer.jade
            include ./includes/modales/productosTopEliminar.jade
        script(src="./js/vue.min.js")
        script(src="./js/app.js")


        