#modal2
                .cajaCerrar
                    .btnCerrar &times;
                .form2
                    .cInput
                        .imgPregunta
                        p.tituloEliminar ¿Seguro que quieres eliminar este acceso directo?
                        button#cancelar Cancelar
                        button#eliminar Si deseo eliminarlo