#modal3
                .cajaCerrar
                    .btnCerrar &times;
                .form2
                    .cInput
                        p.tituloForm  Acceso Directo
                        p.txtInput Link relativo Ej: /imagen.jpg
                        input.inp(type='text', placeholder='Required')
                        p.txtInput Subir imagen:
                        .input__row.uploader
                            #inputval.input-value Required
                            label(for='file_1') Cargar
                            input#file_1.upload(type='file') 
                        button#subir2 Subir 