#modal5 
                .cajaCerrar
                    .btnCerrar &times;
                .form
                    .cInput 
                        p.tituloForm  Actualizar Imágenes
                        .Projo
                        p.txtInput.inl-blk Lista de páginas de app
                        +CheckBox2-2([
                                    {name: 'Landing', value: '5'}, 
                                    {name: 'Categoría', value: '6'}, 
                                    {name: 'Detalle de producto', value: '7'}, 
                                    {name: 'Corner', value: '8'}, 
                                    {name: 'Tienda', value: '9'}
                                    ])  
                        .Projo
                        p.txtInput.inl-blk Nombre:
                        input.inp(type='text', placeholder='Required')  
                        .Projo               
                        p.txtInput.inl-blk Link relativo Ej: /imagen.jpg
                        input.inp(type='text', placeholder='Required')
                        .Projo
                        p.txtInput.inl-blk Subir imagen:
                        .input__row.uploader
                            #inputval.input-value Required
                            label(for='file_1') Cargar
                            input#file_1.upload(type='file')
                        .date1.w-60
                            .Projo
                            p.txtInput.inl-blk Fecha Inicial/hora
                            input(type='datetime-local' placeholder="dd/mm/aaaa --:--")
                        .date.w-60
                            .Projo
                            p.txtInput.inl-blk Fecha Final/hora
                            input(type='datetime-local' placeholder="dd/mm/aaaa --:--")
                        p.txtInput Status
                        .card
                            .material-toggle
                                input#toggle.switch(type='checkbox', name='toggle', checked='true')
                                label(for='toggle')
                        
                        button.btnAzul-c#ACimagen Subir   