#modal4
                .cajaCerrar
                    .btnCerrar &times;
                .form
                    .cInput
                        p.tituloForm  Actualizar Imágenes
                        p.txtInput Nombre de la imagen:
                        input.inp(type='text', placeholder='Required')
                        p.txtInput Seleccion la vista al que va dirigido el link:
                        +CheckBox2([
                                    {name: 'Landing', value: '0'}, 
                                    {name: 'Categoría', value: '1'}, 
                                    {name: 'Detalle de producto', value: '2'}, 
                                    {name: 'Corner', value: '3'}, 
                                    {name: 'Tienda', value: '4'}
                                    ])    
                        p.txtInput Link relativo Ej: /imagen.jpg
                        input.inp(type='text', placeholder='Required')
                        p.txtInput Subir imagen:
                        .input__row.uploader
                            #inputval.input-value Required
                            label(for='file_1') Cargar
                            input#file_1.upload(type='file')
                        .date1
                            p.txtInput Fecha Inicial/hora
                            input(type='datetime-local' placeholder="dd/mm/aaaa --:--")
                        .date
                            p.txtInput Fecha Final/hora
                            input(type='datetime-local' placeholder="dd/mm/aaaa --:--")
                        p.txtInput Status
                        .card
                            .material-toggle
                                input#toggle4.switch(type='checkbox', name='toggle4', checked='true')
                                label(for='toggle4')
                        
                        button.btnAzul-c.SubirIMG Subir