#modal7
                .cajaCerrar
                    .btnCerrar &times;
                .dialog
                    | Pantalla para agregar y editar, cuando se realice esto último los datos tienen que estar precargados
                .form
                    .cInput
                        p.tituloForm  Banners de tiendas / marcas
                        p.txtInput Nombre de la imagen:
                        input.inp(type='text', placeholder='Required')
                        p.txtInput Seleccion la vista al que va dirigido el link:
                        +CheckBox2([
                                    {name: 'Landing', value: '10'}, 
                                    {name: 'Categoría', value: '11'}, 
                                    {name: 'Detalle de producto', value: '12'}, 
                                    {name: 'Corner', value: '13'}, 
                                    {name: 'Tienda', value: '14'}
                                    ])         
                        p.txtInput Link relativo Ej: /imagen.jpg
                        input.inp(type='text', placeholder='Required')
                        p.txtInput Subir imagen:
                        .input__row.uploader
                            #inputval.input-value Required
                            label(for='file_1') Cargar
                            input#file_1.upload(type='file')
                        .date1
                            p.txtInput Fecha Inicial/hora
                            input(type='datetime-local' placeholder="dd/mm/aaaa --:--")
                        .date
                            p.txtInput Fecha Final/hora
                            input(type='datetime-local' placeholder="dd/mm/aaaa --:--")
                        p.txtInput Status
                        .card
                            .material-toggle
                                input#toggle.switch(type='checkbox', name='toggle', checked='true')
                                label(for='toggle')
                        
                        button.btnAzul-c#subirM7 Subir