@mixin configCaja($ancho,$alto)
    width: $ancho
    height: $alto
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1)
    border-radius: 6px
    background: $blanco
    border: solid 1px #eff0f4

@mixin flexAling
    display: flex
    justify-content: center
    align-items: center

@mixin flexRW    
    display: flex
    flex-direction: row
    flex-wrap: wrap

@mixin flexCW    
    display: flex
    flex-direction: column
    flex-wrap: wrap    

@mixin moduloContent
    width: 80%
    height: 100%
    padding: 20px 

@mixin input($pading,$colorbrd)
    border-radius: 4px
    border: 1px solid $colorbrd
    width: 100%
    margin: 0
    padding: $pading
    background-color: $blanco

@mixin btnAzul($mt,$mr,$mb,$ml,$bg,$display)
    display: $display
    margin: $mt $mr $mb $ml
    width: 204px
    height: 60px
    border-radius: 4px
    border: solid 1px #00a4e2
    font-size: 16px
    color: #22b0e5
    background: $bg
    cursor: pointer 

@mixin btnGris($mt,$mr,$mb,$ml,$bg,$display)
    display: $display
    margin: $mt $mr $mb $ml
    width: 204px
    height: 60px
    border-radius: 4px
    border: solid 1px #acaeae
    font-size: 16px
    color: #acaeae
    background: $bg
    cursor: pointer   
    transition: .5s ease all
    &:hover
        background: #acaeae
        color: $blanco  

@mixin modal($p-top,$p-botm) 
  display: none
  position: fixed
  z-index: 1
  padding-top: $p-top
  padding-bottom: $p-botm
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: rgba(0, 0, 0, 0.6)   

@mixin imgModulos($width,$height)
    width: $width
    height: $height
    display: block
    margin: auto 
    border: 15px solid #f8f8f8

@mixin stick
    position: -webkit-sticky
    position: sticky